html {
  background-color: #dcdbd8;
}

main {
    width: 75%;
    margin: auto;
}

header {
  background-image: url("assets/images/banner.jpg");
  height: 226px;
  width: 512px;
  margin: auto;
}

section {
    margin: auto;
}

.t-vid {
  margin-top: 2rem;
  margin-left: 2rem;
  display: flex;
}

.tracks {
    display: block;
}

.vid-info {
    padding: .5rem;
    padding-bottom: 0;
    margin-top: 3rem;
    margin-bottom: 0;
}

.songs {
    vertical-align: middle;
}

